In [9]:
import numpy as np
import pandas as pd # python hace lo que hace R

In [10]:
data = np.load('data')

In [11]:
df = pd.DataFrame(data, columns =['SalePrice: ', 'OverallQual: ','1stFlrSF: ','TotRmsAbvGrd: ', 'YearBuilt: ', 'LotFrontage: '])

In [13]:
df

,SalePrice:,OverallQual:,1stFlrSF:,TotRmsAbvGrd:,YearBuilt:,LotFrontage:
0,208500.0,7.0,856.0,8.0,2003.0,65.0
1,181500.0,6.0,1262.0,6.0,1976.0,80.0
2,223500.0,7.0,920.0,6.0,2001.0,68.0
3,140000.0,7.0,961.0,7.0,1915.0,60.0
4,250000.0,8.0,1145.0,9.0,2000.0,84.0
...,...,...,...,...,...,...
1455,175000.0,6.0,953.0,7.0,1999.0,62.0
1456,210000.0,6.0,2073.0,7.0,1978.0,85.0
1457,266500.0,7.0,1188.0,9.0,1941.0,66.0
1458,142125.0,5.0,1078.0,5.0,1950.0,68.0
1459,147500.0,5.0,1256.0,6.0,1965.0,75.0

In [18]:
import numpy as np
import pandas as pd

In [24]:
data = np.load('data.npy')
df = pd.DataFrame(data, columns =['SalePrice: ', 'OverallQual: ','1stFlrSF: ','TotRmsAbvGrd: ', 'YearBuilt: ', 'LotFrontage: '])

In [26]:
n=len(df)
n_80 = int(n*0.8)
data_80 = df.iloc[:n_80, :]
data_80

,SalePrice:,OverallQual:,1stFlrSF:,TotRmsAbvGrd:,YearBuilt:,LotFrontage:
0,208500.0,7.0,856.0,8.0,2003.0,65.0
1,181500.0,6.0,1262.0,6.0,1976.0,80.0
2,223500.0,7.0,920.0,6.0,2001.0,68.0
3,140000.0,7.0,961.0,7.0,1915.0,60.0
4,250000.0,8.0,1145.0,9.0,2000.0,84.0
...,...,...,...,...,...,...
1163,108959.0,4.0,1258.0,6.0,1969.0,60.0
1164,194000.0,5.0,1432.0,5.0,1978.0,NaN
1165,233170.0,7.0,1502.0,7.0,2009.0,79.0
1166,245350.0,8.0,1694.0,7.0,2008.0,64.0
1167,173000.0,6.0,959.0,7.0,2000.0,58.0

In [30]:
media_columna = np.mean(data[:, 1])
media_columna

6.0993150684931505